// ion-header {
//   ion-toolbar {
//     .bordered {
//       --border-radius: 10px;
//       --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
//     }
//   }
// }

// ion-title {
//   font-size: 20px;
//   font-family: "Times New Roman", Times, serif;
//   font-style: normal;
//   font-weight: lighter;
// }

ion-content {
    // --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
    --background:  rgba(45,112,229,1);
    // --background:  #87CEFA;

      .container {
        padding: 6px 20px;
        color: #FFFFFF;
    
        ion-item {
          --background: rgba(255,255,255,.1);
          padding: 0;
          margin: 14px 0;
          --border-radius: 14px;
          color: #FFFFFF;
          font-weight: 600;
    
          ion-label {
            padding: 6px 0;
    
            h4 {
              font-weight: 600;
              font-size: 16px;
            }
            h6 {
              color: rgba(255,255,255,.66);
            }
          }
    
        }
    
        h2 {
          padding-bottom: 8px;
          text-align: center;
          font-family: "Times New Roman", Times, serif;
        }
      }    
  }